// typography
$font-gothic: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック','メイリオ', Meiryo,sans-serif;

$font-mincho:'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','メイリオ', Meiryo,sans-serif;

$content-width: 1080px;





$large: new-breakpoint(min-width 1110px 12);
$middle: new-breakpoint(max-width 1109px 12);
$middle-min: new-breakpoint(min-width 600px max-width 1079px 12);
$mobile: new-breakpoint(max-width 600px 12);
